-
  var
    mountains = [0.1, 0.13, 0.16, 0.19, 0.22, 0.25, 0.28],
    buddha = [0.1, 0.13, 0.2, 0.1, 0.1, 0.1]

mixin parallax(parallax)
  <!--================ Parallax =================-->
  div(class=`parallax parallax--${parallax}`)
    if (parallax === 'buddha')
      - for (var i = 0; i < buddha.length; i++)
        -
          var
            speed = buddha[i],
            lastSpeed = buddha[buddha.length - 1],
            layerIndex = i + 1,
            ext = i === 0 ? 'jpg' : 'png';
        .parallax__layer(data-speed=`${speed}`)
          +image(`parallax/${parallax}/${layerIndex}.${ext}`, 'parallax__image')
    else
      - for (var i = 0; i < mountains.length; i++)
        -
          var
            speed = mountains[i],
            lastSpeed = mountains[mountains.length - 1],
            layerIndex = i + 1,
            ext = i === 0 ? 'jpg' : 'png';

        .parallax__layer(data-speed=`${speed}`)
          +image(`parallax/${parallax}/${layerIndex}.${ext}`, 'parallax__image')
      .parallax__layer(data-speed=`${lastSpeed}`)